/*.netbar {
    background: rgb(77,182,172);
    background: linear-gradient(-90deg, rgba(77,182,172,1) 0%, rgba(128,203,196,1) 35%, rgba(178,223,219,1) 100%);
}*/
/* Transition Hover */
.v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .5;
    position: absolute;
    width: 100%;
}

.netlogo:hover{
    opacity: 0.6;
}

.netdisease{
    background-color: #f6f6f6;
}

.netsearch-title{
    color: #616161 !important;
    font-size: 30px !important;
}

.netsearch-subtitle{
    color: #4db6ac !important
}

.v-parallax__image{
    opacity: 0.3 !important;
}

.netfill{
    min-height: 100vh;
}

.netmsjunread{
    background-color: #80cbc4;
}

.netmsjchip {
    height: auto !important;
    font-size: small;
}

.netmsjimg {
    border-radius: 5%;
    max-width: 200px;
    max-height: 200px;
    display: inline-block;
}

.netmsjsend {
    height: 70% !important;
}

.netdropdown-item:hover{
    background-color: #f5f5f5 !important;
}

.container-2 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

/* Site BG */
#app {
    background-color: #f6f6f6;
    font-family: 'Mulish', sans-serif;
    font-size: small;
}